<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <div class="container">
      <div class="section">
          <div class="row">
              <div class="col s12 m12 l12 center-align">
                  <a href="/"><img src="images/nodejs-logo.png" class="responsive-img"/></a>
              </div>
          </div>
      </div>
    <div class="container">
      <div class="section">
          <div class="row">
            <form id="login-form" class="col s12 l12 m12" method="POST" action="/api/auth/login">
              <% if (error) { %>
              <div class="row">
                  <div class="col offset-m4 offset-l4 s12 m4 l4">
                      <div class="card-panel lighten-4 red red-text">
                          <span><strong>Errore: </strong> <%= error %></span>
                      </div>
                  </div>
              </div>
              <% } %>
              <div class="row center-align">
                <div class="input-field col offset-m4 offset-l4 s12 m4 l4">
                  <input placeholder="Username" id="username" name="username" type="text"/>
                  <label for="username" class="active">Username</label>
                </div>
              </div>
              <div class="row center-align">
                <div class="input-field col offset-m4 offset-l4 s12 m4 l4">
                  <input placeholder="Password" id="password" name="password" type="password"/>
                  <label for="password" class="active">Password</label>
                </div>
              </div>
              <div class="row center-align">
                <div class="input-field col offset-m4 offset-l4 s12 m4 l4">
                    <input id="login-btn" type="submit" value="LOGIN" class="btn-large  green lighten-1 no-border-radius">
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>

  <!--  Scripts-->
  <script src="scripts/jquery.js"></script>
  <script src="scripts/materialize.js"></script>
  </body>
</html>
